<html>
    <h1>
        {{ quiz.quiz_name }}
    </h1>
    <form action="{% url 'quizzes:grade' quiz.slug %}" method="POST">
        {% csrf_token %}
        {% for question in quiz.question_set.all %}
        <ul>
            <fieldset>
                <legend>{{ question.question_text }}</legend>
                {% for choice in question.choice_set.all %}
                <li>
                    <input type="radio" name="question-{{ question.id }}" id="id-{{ forloop.counter }}" value="{{ choice.id }}"/>
                    <label for="choice{{ forloop.counter}}">
                        {{ choice.choice_text }}
                    </label>
                    <br>
                </li>
                {% endfor %}
            </fieldset>
        </ul>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</html>